body {
    font-family: montserrat;
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

#main-bg {
  background: tomato;  
}

#setup-game-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#setup-game-screen p {
    font-size: 24px;
    margin-top: 5px;
}

#select-one-player {
    padding:   5px 25px 5px 25px;
}

#select-two-player {
    padding: 5px 20px 5px 20px;
}

#game-title {
    font-size: 48px;    
}

.current-choice {
    border: 2px solid fuchsia;
}

#input-player-name {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#name-input {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    font-size: 24px;
    text-align: center;
}