body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
}

input:focus {
    outline-width: 0;
}


.hide {
    display: none !important;
}

.full-screen {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.flex {
    display: flex;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
} */

.center {
    align-items: center;
    justify-content: center;
}

.f-column {
    flex-direction: column;
}

#main-bg {
    background: url('../images/nasa--hI5dX2ObAs-unsplash.jpg') no-repeat;  
}



.correct-answer-border {
    border: 4px solid aqua;
}



#select-game-length {
    font-size: 24px;
}



/* Main Screen */


#game-title {
    font-size: 150px;
    text-transform: uppercase;
    position: relative;
    top: 25px;
    /* color: rgba(255, 255, 255, 0.5); */
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

#sub-title {
    font-size: 36px;
    text-transform: uppercase;

}

/* #setup-game-screen p {
    position: relative;
    top: 200px;
    float: left;
    clear: both;
    text-align: center;
} */

.select-one-player {
    margin-top: 120px;
    padding:   5px 25px 5px 25px;
    font-size: 40px;
    display: inline-block;
    border: 4px solid transparent;
}

.select-two-player {
    padding: 5px 20px 5px 20px;
    font-size: 60px;
    display: inline-block;
    border: 4px solid transparent;
    position: relative;
    bottom: 20px;
}

#start-game {
    font-size: 24px;
    position: relative;
    bottom: 70px;
    left: 10px;
}

#enter {
    font-size: 150px;
    /* position: relative;
    bottom: 100px; */
}

/* Input Player Names Screen */

#input-player-name {
    text-align: center;
}

#current-player-text {
    font-size: 64px;
    margin-bottom: 20px;
}

#name-input-instructions {
    font-size: 48px;
    margin-bottom: 30px;
}

#name-input {
    margin-top: 10px;
    height: 60px;
    font-size: 48px;
    text-align: center;
    background: none;
    border: 4px solid black;
    padding: 40px 0px;
}

/* Select Game Length Screen */

#select-game-length h1 {
    font-size: 48px;
}

.seven, .twenty-one {
    padding: 5px 5px 5px 5px;
    border: 4px solid transparent;
}


/* Multiplayer Instructions Screen */

#multiplayer-instructions {
    font-size: 48px;
}

#multiplayer-instructions p {
    margin-bottom: 20px;
}

/* ROUND X screen */
#current-question-screen h1 {
    font-size: 200px;
    font-family: 'Open Sans', sans-serif;
}


/*  Categories Screen */
#categories-screen {
    font-size: 48px;
}

#categories-screen h1 {
    font-size: 98px;
}

/* Question Screen */
#question-screen {
    font-size: 28px;
    margin-top: 50px;
}

/* Keep this below .seven and .twenty-one so it's not overwritten */
.current-choice {
    border: 4px solid rgb(2, 238, 255);
}