body {
    font-family: montserrat;
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

.full-screen {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.flex {
    display: flex;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
} */

.center {
    align-items: center;
    justify-content: center;
}

.f-column {
    flex-direction: column;
}

#main-bg {
    background: url('../images/nasa--hI5dX2ObAs-unsplash.jpg') no-repeat;  
}



.correct-answer-border {
    border: 2px solid aqua;
}



#select-game-length {
    font-size: 24px;
}



/* Main Screen */

.tilt {
    transform: rotate(350deg);
}

#game-title {
    font-size: 125px;
    text-transform: uppercase;
    font-weight: 500;
    /* font-family: 'Notable', sans-serif; */
    position: relative;
    top: 50px;
    left: 100px;   
}

#sub-title {
    font-size: 36px;
    /* font-family: 'Pacifico', cursive; */
    position: relative;
    left: 600px;
    bottom: 40px;
}

#setup-game-screen p {
    position: relative;
    top: 200px;
    float: left;
    clear: both;
    text-align: center;
}

#select-one-player {
    padding:   5px 25px 5px 25px;
    left: 850px;
    font-size: 40px;
}

#select-two-player {
    padding: 5px 20px 5px 20px;
    left: 750px;
    font-size: 75px;
}

#start-game {
    left: 618px;
    font-size: 24px
}

#enter {
    font-size: 175px;
}

/* Input Player Names Screen */

#input-player-name {
    text-align: center;
}

#current-player-text {
    font-size: 64px;
    margin-bottom: 20px;
}

#name-input-instructions {
    font-size: 48px;
    margin-bottom: 30px;
}

#name-input {
    margin-top: 10px;
    height: 60px;
    font-size: 48px;
    text-align: center;
    background: none;
    border: 2px solid black;
}

/* Select Game Length Screen */

#select-game-length h1 {
    font-size: 48px;
}

.seven, .twenty-one {
    padding: 5px 5px 5px 5px;
    border: 2px solid transparent;
}

/* Keep this below .seven and .twenty-one so it's not overwritten */
.current-choice {
    border: 2px solid fuchsia;
}